
  <!doctype html>
  <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"></head>
  <title>{{ title }}</title>
  <div class="container">
  <div class="jumpotron">
  <h1 class="display-4">{{ title }}</h1>
  <p class="lead">{{ help_text }}</p>
  <form method=post enctype=multipart/form-data>

  {% if options %}
    <div class="form-group">
    {% for option in options %}
    <label>{{option.label}}</label>
      <input type=text class=form-control name={{option.name}} id={{option.name}}>
    {% endfor %}
    </div>
  {% endif %}

  <div class="form-group">
  <div class="custom-file">
      <input type=file  class="custom-file-input" name=file id="customFile">
<label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  </div>
  <div class="form-group">
  <input type=submit class="btn btn-primary" value=Upload>
  </div>
  </div>
  </form>
  </div>
  </div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<script type="application/javascript">
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });
</script>
